/* footer .container{
    display: flex;
    justify-content: space-between;
    font: var(--text-md);
}

footer ul {
    list-style: none;
    display: flex;
    gap: 24px;
    
}

footer ul li{
    padding: 24px 0 ;
}

footer p{
    padding: 25.5px 0;
} */

footer {
    display: flex;
    gap: 24px;
    padding-block: 24px;
    font: 14px/150% var(--font-family);
}

footer span:nth-child(1){
    margin-right: auto;
}